button {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  max-width: 12.25rem;
  width:100%;
  min-height: 3rem;
  padding: calc(.875rem - 3px) 63px calc(.875rem - 3px) 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}


.btn-primary {
  @include button-theme(
    $btn-primary-color,
    $btn-primary-bg,
    $btn-primary-border
  );

  &:hover {
    background-color: $btn-primary-bg-hover;
  }
  &:active {
    background-color: $btn-primary-active;
  }
}

.btn-secondary {
  @include button-theme(
    $btn-secondary-color,
    $btn-secondary-bg,
    $btn-secondary-border
  );

  &:hover {
    background-color: $btn-secondary-bg-hover;
  }
  &:active {
    background-color: $btn-secondary-active;
  }
}

.btn-tertiary {
  @include button-theme(
    $btn-tertiary-color,
    $btn-tertiary-bg,
    $btn-tertiary-border
  );
  
  &:hover {
    color: $btn-tertiary-color-hover;
    background-color: $btn-tertiary-bg-hover;
  }
  &:active {
    background-color: $btn-tertiary-active;
  }
}

.btn-ghost {
  @include button-theme(
    $btn-ghost-color,
    $btn-ghost-bg,
    $btn-ghost-border
  );
  
  &:hover {
    background-color: $btn-ghost-bg-hover;
  }
  &:active {
    background-color: $btn-ghost-active;
  }
}

.btn-danger {
  @include button-theme(
    $btn-danger-color,
    $btn-danger-bg,
    $btn-danger-border
  );
  
  &:hover {
    background-color: $btn-danger-bg-hover;
  }
  &:active {
    background-color: $btn-danger-active;
  }
}