// Buttons

// Primary button
$btn-primary-color: #ffffff;
$btn-primary-bg: #0f62fe;
$btn-primary-border: transparent;
$btn-primary-bg-hover: #0353e9;
$btn-primary-active: #002d9c;

// Secondary button
$btn-secondary-color: #ffffff;
$btn-secondary-bg: #393939;
$btn-secondary-border: transparent;
$btn-secondary-bg-hover: #4c4c4c;
$btn-secondary-active: #6f6f6f;

// Tertiary button
$btn-tertiary-color: #0f62fe;
$btn-tertiary-bg: transparent;
$btn-tertiary-border: #0f62fe;
$btn-tertiary-color-hover: #ffffff;
$btn-tertiary-bg-hover: #0353e9;
$btn-tertiary-active: #002d9c;

// Ghost button
$btn-ghost-color: #0f62fe;
$btn-ghost-bg: transparent;
$btn-ghost-border: transparent;
$btn-ghost-bg-hover: #e5e5e5;
$btn-ghost-active: #c6c6c6;

// Danger button
$btn-danger-color: #ffffff;
$btn-danger-bg: #da1e28;
$btn-danger-border: transparent;
$btn-danger-bg-hover: #b81921;
$btn-danger-active: #750e13;