main {
  text-align: center;
  padding: 1em;
  max-width: 240px;
  margin: 0 auto;
  font-family: $font-family;
}

h1 {
  color: $primary-color;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
}

a {
  color: $secondary-color;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}